<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvaliacaoA1.Properties.Settings.Loja_InformaticaConnectionString"
            connectionString="Data Source=LAPTOP-QP8C0L2V\SQLEXPRESS;Initial Catalog=Loja_Informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AvaliacaoA1.Properties.Settings.Loja_InformaticaConnectionStringNoteBenildes"
            connectionString="Data Source=NOTE-EBENILDE\SQLEXPRESS;Initial Catalog=Loja-Informatica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>